@model IEnumerable<CadastroDeProdutos.Models.Utilisateur>

<h2>Lista de Usuarios</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomUtilisateur)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilisateurID })
        </td>
    </tr>
}

</table>
