@model CadastroDeProdutos.ModelsViews.UtilisateurViewModel


@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Utilisateur.NomUtilisateur
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Utilisateur.NomUtilisateur)
            @Html.TextBoxFor(m => m.Utilisateur.NomUtilisateur)
            @Html.ValidationMessageFor(m => m.Utilisateur.NomUtilisateur)
        </div>
        <div>
            @Html.LabelFor(m => m.Utilisateur.Password)
            @Html.PasswordFor(m => m.Utilisateur.Password)
            @Html.ValidationMessageFor(m => m.Utilisateur.Password)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "Create")
    }
}
