@model CadastroDeProdutos.Models.Utilisateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeUtilisateur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UtilisateurID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
