@model IEnumerable<CadastroDeProdutos.Models.Utilisateur>

@{
    ViewBag.Title = "Index";
}

<h2>Utilisateurs</h2>

<p>
    @Html.ActionLink("Create New", "Auth")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TypeUtilisateur)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomUtilisateur)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TypeUtilisateur)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilisateurID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilisateurID })
        </td>
    </tr>
}

</table>
